# Dependencies
/node_modules
#ignore all folders and files in dist
dist/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Miscellaneous
*.swp
*~

# Local Netlify folder
.netlify
dist/assets/index-DBCbKdaL.js
dist/index.html
